*Makefile
*.o
*.la
*.lo
*.libs
*.deps
*Makefile.in
*.swp
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
src/parser_lex.c
src/parser_yacc.c
src/parser_yacc.h
src/sorm_generate
stamp-h1
test/sorm.db
test/test_sem
test/test_sorm
ylwrap
test/device_sorm.c
test/device_sorm.h
test/text_blob_sorm.c
test/text_blob_sorm.h
test/volume_sorm.c
test/volume_sorm.h
*.db
*.out
test/test_transaction
test/db_test
